<div>
    <h1>Carrito</h1>
    <ul>
        {{#each cartProducts}}
            <li>
                <h2>{{title}}</h2>
                <p>Quantity: {{quantity}}</p>
                <p>Precio: {{price}}</p>
                <p>Subtotal: {{subtotal}}</p>
            </li>
        {{/each}}
    </ul>
    <p>Total: {{total}}</p>
    <button class="buy" id={{cid}}>Comprar</button>
    <button class="emptyCartButton" id={{cid}} >Vaciar carrito</button>
    <a href="/perfil">Volver a la tienda</a>
</div>



<script src="js/cart.js"></script>