<div class="profile">
    <div class="avatar">
        <img src="https://picsum.photos/200/200" alt="{{user.first_name}}">
    </div>
    <div>
        <h1>{{first_name}} {{last_name}} </h1>
        <p>Email: {{email}}</p>
        <p>Role: {{role}}</p>
    </div>
    <a href="/api/users/getPremium">
        <button class="get-premium">Pasar a premium</button>
    </a>
    <div>
        <a href="/perfil">Volver a la tienda</a>
    </div>
    <div>
        <p>mi carrito</p>
        <ul>
            {{#each cartProduct}}
                <li>
                    <h2>{{ title }}</h2>
                    <p>${{price}}</p>
                    <p>Quantity: {{quantity}}</p>
                </li>
            {{/each}}
        </ul>
    </div>

    <div>
</div>