<div class="profile">
    <div class="avatar">
        <img src="https://picsum.photos/200/200" alt="{{user.first_name}}">
    </div>
    <div>
        <h1>{{first_name}} {{last_name}} </h1>
        <p>Email: {{email}}</p>
        <p>Role: {{role}}</p>
    </div>
    <div>
        <a href="/api/sessions/current">Ir a perfil</a>
    </div>
    <div>
        <a href="/cart">Ir al carrito</a>
    </div>
</div>

<button id="logout-btn">Salir</button>
<a href="/addProduct">
    <button class="addProduct-btn">Agregar Producto</button>
</a>


<div class="profile">
    <ul>
        {{#each products}}
            <li>
                <h2>{{ this.title }}</h2>
                <p>{{this.description}}</p>
                <p>${{this.price}}</p>
                <p>Quedan {{this.stock}} </p>
                <p>Owner: {{this.owner}}</p>
                <button class="agregar" id={{this._id}} >Agregar al carrito</button>
            </li>
        {{/each}}
    </ul>
</div>

<script src="js/perfil.js"></script>
<script src="js/logout.js"></script>